### Operasi pada List, Set, dan String

#### len()

- Sebelumnya kita sudah mengetahui bahwa slicing digunakan untuk urutan
- len() yang akan menghitung panjang atau banyaknyaelemen dari list (untuk string menjadi menghitung jumlah karakternya)

In [1]:
a = [3,5,5,7,7,7]

In [2]:
print(a)

[3, 5, 5, 7, 7, 7]

In [3]:
len(a)

6

In [4]:
b = {3,5,5,7,7,7}

In [6]:
print(b) #mengambil elemen unik

{3, 5, 7}

In [8]:
len(b)

3

In [9]:
c = 'Data Science'

In [10]:
print(c)

Data Science

In [12]:
len(c)

12

Task

In [13]:
x = [1,2,3,3,3,4,7,7,7,8,10]
y = {1,2,3,3,3,4,7,7,7,8,10}
z = 'Belajar di MyEduSolve'

In [14]:
print(len(x))

11

In [15]:
print(len(y))

7

In [16]:
print(len(z))

21

#### min() dan max()

Fungsi min() dan max() adalah untuk mengetahui berapa nilai minimum dan maksimum

In [17]:
a = [3,5,5,7,7,7]

In [18]:
min(a)

3

In [19]:
max(a)

7

#### count()

Fungsi count() adalah untuk mengetahui berapa suatu objek kali muncul dalam list

In [20]:
a = [3,5,5,7,7,7]

In [21]:
a.count(5)

2

In [23]:
c = 'Data Science'

In [26]:
c.count('a')

2

Task

In [39]:
p = ['kucing', 'sapi', 'ayam', 'katak', 'kucing', 'capung']
q = 'Belajar di MyEduSolve'

In [40]:
min(p)

'ayam'

In [41]:
max(p)

'sapi'

In [43]:
p.count('kucing')

2

In [45]:
q.count('l')

2

#### Penggabungan dan Replikasi

Pada list juga dimungkinkan adanya penggabungan (+) dan replikasi (*)

In [46]:
a = [3,5,5,7,7,7]
d = ['d', 'a', 't', 'a']

In [47]:
a + d

[3, 5, 5, 7, 7, 7, 'd', 'a', 't', 'a']

In [48]:
d * 2

['d', 'a', 't', 'a', 'd', 'a', 't', 'a']

Fungsi pengali juga dapat Anda manfaatkan untuk inisiasi list

In [49]:
tiga = [3]*3

In [50]:
print(tiga)

[3, 3, 3]

In [51]:
len(tiga)

3

Task

In [53]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
hewan = ['kucing', 'sapi', 'ayam', 'katak', 'kucing', 'capung']

In [59]:
angka + hewan

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 'kucing',
 'sapi',
 'ayam',
 'katak',
 'kucing',
 'capung']

In [61]:
hewan * 2

['kucing',
 'sapi',
 'ayam',
 'katak',
 'kucing',
 'capung',
 'kucing',
 'sapi',
 'ayam',
 'katak',
 'kucing',
 'capung']

In [62]:
hewan = ['kucing', 'sapi', 'ayam', 'katak', 'kucing', 'capung']

In [63]:
print(hewan)

['kucing', 'sapi', 'ayam', 'katak', 'kucing', 'capung']

In [64]:
len(hewan)

6

In [65]:
['kucing'] * 3

['kucing', 'kucing', 'kucing']

#### Range

- Fungsi range() memberikan deret bilangan dengan pola tertentu
- Untuk melakukan perulangan (misalnya for) dalam mengakses elemen list, Anda dapat menggunakan fungsi range() pada Python
- Lebih detail mengenai operasi perulangan akan dibahas pada modul Perulangan dan Kontrol Perulangan

Fungsi range dapat memiliki 1-3 parameter

Range dengan 1 parameter n: membuat deret bilangan yang dimulai dari 0, sebanyak n bilangan

In [67]:
for i in range(3):
    print(i)

0
1
2

- Range dengan 2 parameter (n,p): membuat deret bilangan yang dimulai dari n, hingga sebelum p (bilangan p tidak ikut)
- Sering disebut sebagai inklusif n (deret dimulai bilangan n) dan eksklusif p (deret tidak menyertakan bilangan p)

In [68]:
for i in range (0,3):
    print(i)

0
1
2

Range dengan 3 parameter(n,p,q): membuat deret bilangan yang dimulai dari n, hingga sebelum p (bilangan p tidak ikut), dengan setiap elemennya memilikiselisih q

In [69]:
for i in range (0,10,2):
    print(i)

0
2
4
6
8

Task

In [71]:
for i in range(5):
    print(i)

0
1
2
3
4

In [72]:
for i in range (5,7):
    print(i)

5
6

In [73]:
for i in range (5,13,3):
    print(i)

5
8
11

#### in dan not in

- Operator in dan not in: Untuk mengetahui sebuah nilai atau objek ada dalam list
- Fungsi in akan mengembalikan nilai boolean True atau False

In [74]:
kita = 'aku dan kamu'

In [75]:
'aku' in kita

True

In [76]:
'dia' in kita

False

In [82]:
'kamu' not in kita

False

Task

In [84]:
hari_ini = 'kuliah, studi independen, terus lanjut mengerjakan tugas'

In [85]:
'kuliah' in hari_ini

True

In [87]:
'magang' in hari_ini

False

In [88]:
'tugas' not in hari_ini

False

#### Memberikan nilai untuk multiple variable

Anda kadang memiliki beberapa variabel dan perlu memberikan nilai pada variabel-variabel tersebut. Secara konvensional, Anda bisa menandai variabel-variabel dengan nilai yang Anda inginkan, satu per satu.

In [78]:
makanan = ['bakso', 'bakso telur', 'pedas']

In [79]:
print(makanan)

['bakso', 'bakso telur', 'pedas']

In [80]:
nama = makanan[0]

In [81]:
print(nama)

bakso

In [89]:
jenis = makanan[1]

In [90]:
print(jenis)

bakso telur

In [93]:
rasa = makanan[2]

In [94]:
print(rasa)

pedas

- Python memiliki cara yang lebih praktis
- Kita dapat memberikan nilai untuk beberapa variabel sekaligus dari elemen list atau tuple tanpa perlu menandai satu per satu

In [95]:
makanan = ['bakso', 'bakso telur', 'pedas']

In [96]:
nama, jenis, rasa = makanan

In [97]:
minuman = ('jus', 'jus mangga', 'manis')

In [98]:
nama, jenis, rasa = minuman

In [100]:
nama

'jus'

In [101]:
jenis

'jus mangga'

In [102]:
rasa

'manis'

Tentu saja jumlah variabel dan jumlah item pdaa list atau tuple harus sama. Jika tidak maka Python akan memberikan ValueError

In [103]:
minuman = ('jus', 'jus mangga', 'manis')

In [104]:
nama, jenis, rasa, harga = minuman

ValueError: not enough values to unpack (expected 4, got 3)

Penggunaan assignment pada multi variabel ini dapat Anda gunakan untuk menukar nilai dua atau lebih variabel

In [105]:
wajah, sifat = 'menarik', 'baik'

In [106]:
wajah, sifat = sifat, wajah

In [108]:
wajah

'baik'

In [109]:
sifat

'menarik'

Task

In [2]:
hewan1 = ['kucing', 'betina', 2]
print(hewan1)

['kucing', 'betina', 2]

In [3]:
nama = hewan1[0]
print(nama)

kucing

In [4]:
jk = hewan1[1]
print(jk)

betina

In [5]:
usia = hewan1[2]
print(usia)

2

In [7]:
hewan2 = ('sapi', 'jantan', 1)
print(hewan2)

('sapi', 'jantan', 1)

In [8]:
jk, usia, nama = hewan2

In [9]:
print(nama, jk, usia)

1 sapi jantan

In [10]:
nama, jk, usia = jk, usia, nama

In [11]:
print(nama, jk, usia)

sapi jantan 1

#### Sort()

- Metode sort(): menggunakan angka atau urutan huruf
- Metode sort() ini bisa mengurutkan list

In [12]:
nilai = [40,20,30,10,50]

In [14]:
nilai.sort()

In [15]:
print(nilai)

[10, 20, 30, 40, 50]

In [16]:
siswa = ['Calvin', 'Andi', 'Budi']

In [17]:
siswa.sort()

In [18]:
print(siswa)

['Andi', 'Budi', 'Calvin']

Kita juga dapat memasukan keyword reverse=True di dalam parameter untuk menjadikan urutannya terbalik

In [19]:
huruf = ['d','i','a']

In [20]:
huruf.sort()

In [21]:
print(huruf)

['a', 'd', 'i']

In [22]:
huruf.sort(reverse=True)

In [23]:
print(huruf)

['i', 'd', 'a']

Metode sort tidak dapat mengurutkan list yang memiliki angka dan string sekaligus di dalamnya.

In [28]:
no = ['B',2,1,'A','C']

In [29]:
no.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [24]:
nama = ['Budi', 'andi', 'calvin']

In [25]:
nama.sort()

In [26]:
print(nama)

['Budi', 'andi', 'calvin']

- Kita dapat memasukkan keyword str.lower pada parameter
- Hal ini akan membuat metode sort menganggap semua objek menggunakan huruf kecil, tanpa mengubah kondisi asli dari objek tersebut

In [30]:
nama = ['Budi', 'andi', 'calvin']

In [31]:
nama.sort(key=str.lower)

In [32]:
print(nama)

['andi', 'Budi', 'calvin']

Task

In [33]:
hewan = ['kucing', 'sapi', 'ayam', 'katak', 'kucing', 'capung']

In [35]:
hewan.sort() #asc
print(hewan)

['ayam', 'capung', 'katak', 'kucing', 'kucing', 'sapi']

In [36]:
hewan.sort(reverse=True) #desc
print(hewan)

['sapi', 'kucing', 'kucing', 'katak', 'capung', 'ayam']

In [37]:
hewan.sort(key=str.lower)
print(hewan)

['ayam', 'capung', 'katak', 'kucing', 'kucing', 'sapi']

In [38]:
hewan.sort(key=str.upper)
print(hewan)

['ayam', 'capung', 'katak', 'kucing', 'kucing', 'sapi']